NAME=NEST
APP_PORT=3000
APP_PUBLIC_ENDPOINT=http://0.0.0.0:3000
NODE_ENV=dev

LOG_FATAL_PATH=logs/fatal-%DATE%.log
LOG_COMBINED_PATH=logs/combined-%DATE%.log
LOG_ERROR_PATH=logs/error-%DATE%.log
LOG_MAX_SIZE=1g
LOG_MAX_FILES=5d
LOG_ZIP_OLD_FILE=true
LOG_NAME_DATE_PATTERN=YYYYMMDD

DB_HOST=
DB_NAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=postgres
DB_TIMEZONE=+07:00

JWT_PRIVATE_KEY=keys/ecdsa.key
JWT_PUBLIC_KEY=keys/ecdsa.key

BCRYPT_SALT_ROUND=10
SEND_OTP_SWITCH=OFF

OTP_DEFAULT=000000